/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3/images";

body {
  background-size: 60px;
  @include background(
    linear-gradient(
      left, 
      rgba(0, 0, 0, 0.1) 50%, 
      rgba(0, 0, 0, 0.07) 50%
  ));
}
#sidebar {
  background-color: white;
  position: fixed;
  margin: 0 0 0 110px;
  width: 220px;
  top: 180px;
  left: 50%;
}
#page-warp {
  margin: 15px auto;
  position: relative;
  width: 600px;
}
#content {
  width: 190px; 
  float: left;
}
