/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "compass/css3/images";
@import "compass/css3/border-radius";
@import "compass/utilities/color/contrast";
@import "compass/typography/vertical_rhythm";

$bg-color: #fcfcfc;

body {
   background: #bdbcba url("/images/bg-hatch.png");
}
h1 { 
  color: #4b8db5; 
  @include adjust-font-size-to(36px); 
  @include trailer(1,36px);
}
h2 { 
  color: #a0410d; 
  @include adjust-font-size-to(24px); 
  @include trailer(1,24px);
}
strong { color: #a0410d; font-weight: bold;}
a:link {color: #4b8db5;}
a:visited {color: #4b8db5;}
textarea {width: 95%;}
p { 
  @include adjust-font-size-to(16px); 
  @include trailer(1,16px);
  //margin: 0 0 15px 0; 
}
.block {
  margin: 10px;
  padding: 10px;
  background-color: darken($bg-color,5%);
  @include border-radius(15px);
}
td {
  border: 1px dashed #DDD;
  padding: 8px;
}
td.box {
  text-align: center;
}
table {
  //border: 1px solid #f00;
}
#header {
  background-image: url("/images/bg-header.png");
  height:30px;
}
#footer {
  background-image: url("/images/bg-header.png");
  color: #cdcdcd;
  line-height:30px;
  height:30px;
  padding-left:50px;
}
#sidebar {
  background-color: darken($bg-color,5%);
  @include border-radius(15px);
  border: outset #ccc 12px;
  position: fixed;
  margin: 0 0 0 210px;
  padding: 15px;
  width: 220px;
  top: 180px;
  left: 50%;
  float: right;
}
li { 
  @include adjust-font-size-to(16px); 
  //@include trailer(1,18px);
}
#page-warp {
  @include border-radius(15px);
  border-style: double;
  border-color: #ccc;
  border-width: 14px;
  background: $bg-color;
  margin: 15px auto;
  padding: 30px;
  position: relative;
  width: 760px;
}
#main-container {
  width: 550px; 
  float: left;
}
// #title {
//   background: url("/images/bg-diag.png") left bottom repeat-x;
//   padding: 0 0 1px;
//   margin-bottom: 30px;
// }
hr {
  background: url("/images/bg-diag.png") left bottom repeat-x;
  height: 10px;
  border: 0;
  clear:both;
  //padding: 0 0 1px;
  margin: 16px 0px;
  //margin-bottom: 30px;
}
.color-wheel > span {
  @include inline-block;
  //display: block;
  float:left;
  top:0;
  width:20%;
  height: 4px;
}
.color-wheel {
  .f1 { left:   0; background: #f3a01e; }
  .f2 { left: 21%; background: #d05d2a; }
  .f3 { left: 41%; background: #9dc425; }
  .f4 { left: 61%; background: #4b8db5; }
  .f5 { left: 81%; background: #7c48b5; }
}
.clear { clear: left; }
