<div id="page">
  <div id="page-warp">
    <div id="main-container">
      <div id="title"><h1>本問卷已達到一百人</h1></div>
      <div id="content">
        <div><p>本問卷研究已達到一百人的樣本目標，十分感謝您願意參與本問卷研究，造成您的不便敬請見諒。</p></div>
      </div>
    </div>

    <div class="clear"></div>
  </div>
</div>
